.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: aqua;
}

.contact-description {
    text-align: center;
    margin-bottom: 40px;
    color: aqua;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    color: aqua;
}

.contact-item {
    text-align: center;
    color: aqua;
}

.contact-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
}
